In [1]:
print("hello")

hello

In [1]:
a=2
print(a)

2

In [7]:
a=2
j=9
b=a+3*j
print(b)

29

In [6]:
a=2*6
print(a)

12

In [9]:
s=1
q=8
x=s/q
print(x)

0.125

In [15]:
s1="hello world"
s2='hello java'
s3="""hello python"""
print(s1),
print(s2),
print(s3)

hello world
hello java
hello python

In [24]:
x="True"
print(type(x)),

<class 'str'>

(None,)

In [26]:
x=3**2
print(x)

9

In [28]:
arr=[10,20,30,50]
key= 20
if key in arr:
    print(f"{key}found at index{arr.index(key)}")
else:
    print(f"{key} not found")

20found at index1

In [29]:
stock_price=[123,345,568.345]
print(stock_price[2])

568.345

In [30]:
#syntax list
a1=[1,2,3,4,5]
print(a1),
a2=[1,2,"java",4]
print(a2)

[1, 2, 3, 4, 5]
[1, 2, 'java', 4]

In [31]:
#tuples
a1=(2,3,4,5)
print(a1)

(2, 3, 4, 5)

In [33]:
def get_squared_numbers(numbers):
    squared_numbers=[]
    for n in numbers:
        squared_numbers.append(n*n)
    return squared_numbers
numbers=[2,3,4,5,6]
get_squared_numbers(numbers)

[4, 9, 16, 25, 36]

In [36]:
#dictonary
a1={}
a1={1:"rishi",2:"cse",3:"btech"}
print(a1[2])

cse

In [43]:
#dictonary remove
a1={1:"sci",2:"connda",3:"c++"}

a1.append("java")
a1.remove(a[2])

AttributeError: 'dict' object has no attribute 'append'

In [55]:
#write a prog to print your bio data using python
#wap swap two elements in the list
#wap ways to check if elements exist in a list
#wap smallest to largest in list
#print all even no in tuple
#print postive no in tuple

#q1
# User bio details
name = "rishikesh"
age = 20
degree = "currently pursuing Btech"
university = "kiit"
school="Kendriya vidalaya balasore"
address="Balasore,odisha"

# Printing the details correctly
print(f"Name: {name}")
print(f"Age: {age}")
print(f"Degree: {degree}")
print(f"University: {university}")
print(f"school:{school}")
print(f"address:{address}")

Name: rishikesh
Age: 20
Degree: currently pursuing Btech
University: kiit
school:Kendriya vidalaya balasore
address:Balasore,odisha

In [49]:
#q2
a = [1, 2, 3]
b = [2, 5, 6]

a, b = b, a

print(a)

[2, 5, 6]

In [50]:
#q3
a = [1, 2, 3, 4, 5]
element = 3

if element in a:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

3 exists in the list.

In [51]:
#q4
a = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
a.sort()
print(a)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [52]:
#q5
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

even_numbers = [num for num in numbers if num % 2 == 0]

print("Even numbers in the tuple are:", even_numbers)

Even numbers in the tuple are: [2, 4, 6, 8, 10]

In [53]:
#q6
numbers=(1,2,3,4,6,8,9,12)

odd_numbers=[num for num in numbers if num %2!=0]

print("odd numbers in the tuple are:",odd_numbers)

odd numbers in the tuple are: [1, 3, 9]